asgiref==3.8.1
Django==4.2.16
django-debug-toolbar
django-stubs
django-stubs-ext
flake8
mccabe
mypy
mypy-extensions
pillow
pip
psycopg2
psycopg2-binary
pycodestyle
pyflakes
setuptools
sqlparse
tomli
types-PyYAML
typing_extensions
tzdata