<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диалог</title>
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
</head>
<body>
    <h1>Диалог с {{ dialog.participants.exclude(id=request.user.id).first.username }}</h1>
    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.username }}</strong>: {{ message.content }}
                <em>{{ message.timestamp|date:"d.m.Y H:i" }}</em>
            </li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'messages_app:send_message' dialog.id %}">
        {% csrf_token %}
        <textarea name="content" placeholder="Введите сообщение"></textarea>
        <button type="submit">Отправить</button>
    </form>
    <a href="{% url 'messages_app:dialogs_list' %}">Назад к диалогам</a>
</body>
</html>
