<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои диалоги</title>
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
</head>
<body>
    <h1>Мои диалоги</h1>
    <ul>
        {% for dialog in dialogs %}
            <li>
                <a href="{% url 'messages_app:dialog_detail' dialog.id %}">
                    Диалог с {{ dialog.participants.exclude(id=request.user.id).first.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'main:index' %}">Назад на главную</a>

    <script>
        document.body.style.backgroundImage = "url('{% static 'deps/images/main_background.jpg' %}')";
    </script>
</body>
</html>

