{% extends 'base/base.html' %}

{% block title %}Диалог{% endblock %}

{% block content %}
    <h1>Диалог с {{ dialog.participants.exclude(id=request.user.id).first.username }}</h1>
    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.username }}</strong>: {{ message.content }}
                <em>{{ message.timestamp|date:"d.m.Y H:i" }}</em>
            </li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'messages_app:send_message' dialog.id %}">
        {% csrf_token %}
        <textarea name="content" placeholder="Введите сообщение"></textarea>
        <button type="submit">Отправить</button>
    </form>
    <a href="{% url 'messages_app:dialogs_list' %}">Назад к диалогам</a>
{% endblock %}
