<form method="post" class="form-group">
    {% csrf_token %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>